@media only screen and (max-width : 992px) {
    .nav>li>a {
        padding: 10px 10px;
    }

    .curr-select a,
    .lang-select a{
        padding: 10px 2px;
    }

    .layer-two-container {
        flex-wrap: wrap;
    }

    .nav-brand {
        width: 29%;
    }

    .layer-two-container .navbar-grow {
        flex-grow: 0;
        width: 39%;
    }

    .nav-icons {
        width: 33%;
        display: flex;
        justify-content: flex-end;
    }

    .input-search input,
    .input-search input:focus{
        /*width: 200px !important;*/
    }
}

@media only screen and (min-width : 768px) {
    .navbar-brand-sm {
        display: none;
    }
}

@media only screen and (max-width : 767px) {
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar {
        min-height: 50px;
    }

    .navbar .container-fluid .navbar-brand-sm {
        display: inline-block;
        width: 150px;
        margin-left: 15px;
        margin-top: 5px;
    }
    
    .navbar-brand-lg {
        display: none;
    }

    .br-right, .br-left {
        border: none;
    }

    .nav-brand {
        display: none;
    }

    .layer-two-container .navbar-grow {
        width: 60%;
    }

    .nav-icons {
        width: 48%;
        display: flex;
        justify-content: flex-end;
        font-size: 0.9em;
    }

    .navbar-grow .input-group {
        display: inline-block;
    }

    .auction-item {
        flex-direction: column;
    }

    .auction-item-img {
        width: 100%;
    }

    .auction-item-text {
        width: 100%;
        margin: 10px 0 0 0;
    }

    .auction-item-descr {
        height: auto;
    }
}

@media only screen and (max-width : 586px) {
    .input-search input,
    .input-search input:focus{
        /*width: 150px !important;*/
    }

    .input-search input.active:focus {
        /*width: 500px !important;*/
    }

    .auction-item-descr {
        height: 70px;
    }
}
