
html {

    /*color variables*/

    --mainRed: #fa410f;
    --mainRedDark: #df3a0d;
    --regGtey: #a4a8b6;
    --lightGrey: #e9e9e9;
    --lightBlue: #f3f3f8;
}

body {
    font-family: SFUI-Text,Arial,sans-serif;
    font-size: 14px;
    background-color: var(--lightBlue);
}

* {
    outline: none !important;
}
/*navigation*/

.container-fluid {
    padding: 0;
}

.navbar {
    font-weight: 700;
    border: none;
    -webkit-box-shadow: 0 3px 33px 0 rgba(158, 158, 158, 0.08);
    -moz-box-shadow: 0 3px 33px 0 rgba(158, 158, 158, 0.08);
    box-shadow: 0 3px 33px 0 rgba(158, 158, 158, 0.08);
    background-color: #fff;
}

.navbar .container-fluid .navbar-brand  {
    width: 208px;
    height: auto;
    padding: 0;
    margin-left: 0;
}

.navbar-toggle .icon-bar{
    background-color: var(--mainRed);
}

.navbar-layer-one {
    border-bottom: 1px solid var(--lightGrey);
}

.br-left {
    border-left: 1px solid var(--lightGrey);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.br-right {
    border-right: 1px solid var(--lightGrey);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
}

.dropdown-menu {
    min-width: auto;
}

.dropdown-menu>li>a {
    padding: 6px 14px;
}

.link-grey,
.link-grey a {
    color: var(--regGtey);
    position: relative;
}

.link-black a{
    color: #000;
}

.navbar .active,
.navbar .active:visited {
    color: var(--mainRed);
}

.navbar-nav li a:hover {
    color: var(--mainRed)
}

.btn-accent,
.btn-accent:hover,
.btn-accent:visited{
    background-color: var(--mainRed)!important;
    color: #fff !important;
    text-transform: uppercase;
}

.btn-accent:active {
    background-color: var(--mainRedDark) !important;
}

.btn-round {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 10px 45px;
}

.lang-select a {
    display: inline-block;
    padding: 15px 4px;
}

.lang-select a:first-child {
    padding-left: 15px;
}

.lang-select a:last-child {
    padding-right: 15px;
}

.curr-select a {
    display: inline-block;
    padding: 15px 2px;
}

.curr-select a:first-child {
    padding-left: 15px;
}

.curr-select a:last-child {
    padding-right: 15px;
}

.lang-select a:hover,
.lang-select a:focus,
.curr-select a:hover,
.curr-select a:focus{
    text-decoration: none;
    color: var(--mainRed);
}

.lang-select a:visited,
.curr-select a:visited {
    color: var(--regGtey);
}

.dropdown-menu>li>a:hover {
    color: var(--mainRed);
    background-color: transparent;
}


.layer-two-container {
    display: flex;
    align-items: center;
}

.navbar-grow {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.navbar-form--search {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar-form .input-search {
    width: 70%;
    display: flex;
}

.input-search .header-search {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.input-search .dropdown-toggle {
    background-color: transparent;
}

.input-search .btn-search {
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    background-color: var(--regGtey);
    color: #fff;
    text-transform: uppercase;
    outline: none !important;
}

.input-search .btn-search:hover {
    background-color: var(--mainRed);
}

.input-search .btn-search:active {
    background-color: var(--mainRedDark);
}

.header-icon {
    text-align: center;
}

.header-icon svg {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.header-icon__unlogin svg {
    margin: -12px;
    height: 45px;
    margin-bottom: -9px;
    fill: var(--regGtey);
}

.navbar-nav li a:hover .header-icon__unlogin>svg {
    fill: var(--mainRed);
}

.link-grey a:hover > .header-icon svg g{
    fill: var(--mainRed);
    height: 80px;
}

.link-grey a.active > .header-icon svg g {
    fill: var(--mainRed);
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    color: var(--mainRed);
}

.dropdown-menu {
    border: none;
}

.dropdown-menu li a:hover {

    color: var(--mainRed);
}

.dropdown-menu li a:hover .nav-icon {
    color: var(--mainRed);
}

.dropdown-search-toggle {
    color: var(--regGtey);
    margin-left: -34px !important;
    margin-right: 1px;
    position: relative;
    z-index: 3 !important;
    background-color: #fff !important;
    width: 30px;
    height: 30px;
    padding: 0;
    box-shadow: none;
}

.dropdown-search-toggle:hover,
.dropdown-search-toggle:active,
.dropdown-search-toggle:focus {
    color: var(--regGtey);
    box-shadow: none;
}

.header-search {
    z-index: 2 !important;
    padding-right: 31px;
}


.nav-icon {
    color: var(--regGtey);
    margin-right: 10px;
}

.account-dropdown li a{
    margin-right: 8px;
}

  /************/
 /*pagination*/
/************/

.page-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-item .page-link {
    background-color: transparent;
    color: var(--regGtey);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 0 2px;
    text-decoration: none;
}

.page-item .page-link:active,
.page-item .page-link:hover
{
    background-color: var(--mainRed);
    color: #fff;
}

.page-item .page-link:focus,
.page-nav .page-link:focus{
    background-color: transparent;
    color: var(--regGtey);
}

.page-nav .page-link:active,
.page-nav .page-link:hover {
    color: var(--mainRed);
    background-color: transparent;
}

.page-nav.nav-disable .page-link:hover {
    color: var(--lightGrey);
}

.page-item .page-link.current {
    background-color: var(--mainRed);
    color: #fff;
}

.pagination .page-nav .page-link{
    display: flex;
    align-items: center;
}

.page-nav {
    background-color: transparent;
}

.page-nav .page-link {
    background-color: transparent;
    border: none;
    color: var(--regGtey);
}

.page-nav-prev .page-link svg {
    margin-right: 10px;
}

.page-nav-next .page-link svg {
    margin-left: 10px;
}

.page-num {
    display: flex;
}

.page-num-mob {
    color: var(--regGtey);
    font-size: 1.2em;
    display: none;
}

    /*footer*/

.footer {
    border-top: 1px solid var(--lightGrey);
}

.footer-model {
    display: block;
    padding: 2px 10px;
    margin: 5px 0;
}

.footer-model:nth-child(2n) {
    background-color: #f9f9fc;
}

.footer-model__name {
    display: inline-block;
    float: left;
    color: #000;
}

.footer-model__value {
    display: inline-block;
    float: right;
    color: var(--regGtey);
}

.footer-white {
    margin-top: 60px;
    background-color: #fff;
    height: 80px;
}

.footer-copyright {
    color: var(--regGtey);
    text-transform: uppercase;
    height: 80px;
    display: flex;
    align-items: center;
}

.footer-logo {
    width: 50px;
    height: 80px;
    margin: 0 auto;
    display: flex;
}

.footer-logo img {
    width: 100%;
}

.footer-share {
    float: right;
    font-size: 1.4em;
    height: 80px;
    display: flex;
    align-items: center;
}

.footer-share a {
    color: var(--regGtey);
    padding: 5px;
}

.footer-share a:hover {
    color: var(--mainRed);
}

.footer-share__facebook {
    margin-right: 15px;
}


  /*********/
 /*auction*/
/*********/

.page-title-wrapper {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-title {
    font-size: 1.8em;
    font-weight: 700;
}

.page-title__name {
    display: inline;
}

.page-title__value {
    display: inline;
    color: var(--regGtey);
}

.page-show-filter {
    display: flex;
}

.page-show-filter .select2-container--default .select2-selection--single {
    background:transparent;
    border: none;
}

.page-show-filter .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--regGtey);
}

.page-show-filter .select2-container {
    width: auto !important;
}

.page-show-filter-svg {
    color: var(--regGtey);
    display: inline-block;
    margin-top: 2px;
}

.page-show-select {
    background-color: transparent;
    border: none;
    color: var(--regGtey);
}

.auction-item {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    text-decoration: none;
}

.auction-item:hover,
.auction-item:visited,
.auction-item:focus{
    text-decoration: none;
}

.auction-item-img {
    width: 30%;
    height: 100%;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
}

.auction-item-img img {
    width: 100%;
    height: 177.5px;
    object-fit: cover;
}

.auction-item-text {
    width: 70%;
    margin-left: 20px;
}

.auction-item-title {
    font-size: 1.4em;
    font-weight: 700;
    color: var(--mainRed);
}

.auction-item-title:hover,
.auction-item-title:active,
.auction-item-title:visited,
.auction-item-title:focus{
    color: var(--mainRed);
    text-decoration: none;
}

.auction-item-subtitle {
    color: var(--regGtey);
    display: inline-block;
    margin-right: 20px;
    font-size: 0.9em;
}

.auction-item-car-info-wrapper {
    display: flex;
    margin: 7px 0;
}

.auction-item-car-info {
    font-weight: 700;
    background-color: var(--lightBlue);
    padding: 7px;
    margin-right: 5px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    color: #000;
}

.link-grey .pic-counter {
    top: 6%;
    right: 22%;
}

.pic-counter {
    position: absolute;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: var(--mainRed);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 0 5px;
}

.pic-counter-svg {
    width: 25px;
    height: 25px;
    fill: #fff;
}

.auction-item-img .pic-counter,
.request-item .pic-counter,
.auction-item-img .pic-counter{
    bottom: 5%;
    right: 5%;
}

.car-info-svg {
    display: flex;
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.car-info-svg svg {
    fill: var(--regGtey);
    width: inherit;
}

.auction-item-can-info__range .car-info-svg {
    height: 20px;
}

.auction-item-can-info__fuel .car-info-svg {
    width: 17px;
}

.auction-item-descr {
    color: var(--regGtey);
    font-size: 0.9em;
    font-weight: 300;
    margin-top: 10px;
    padding-bottom: 7px;
    border-bottom: 1px solid var(--lightGrey);
    height:  38px;
    overflow: hidden;
}

.auction-item-price {
    display: inline-block;
    align-self: center;
    font-size: 1.4em;
    font-weight: 700;
    color: var(--mainRed);
    padding-top: 7px;
}

.auction-item-like-svg {
    display: flex;
    float: right;
    height: 35px;
    align-items: center;
    color: var(--regGtey);
    cursor: pointer;
}

.auction-item-like-svg svg:hover {
    color: var(--mainRed);
}

.auction-item-like-svg.active {
    animation: hurtDisappear .8s;
}

.auction-item-like-svg.active svg{
    color: var(--mainRed);
}

  /*********/
 /*filters*/
/*********/

.show-filters {
    display: none;
    padding: 10px 15px;
    width: 160px;
    text-align: center;
}

.show-filters i {
    margin-left: 5px;
}

.show-filters.fixed-top {
    position: fixed;
    z-index: 55;
    top: 5px;
    left: 10px;
}

.filters {
    position: relative;
    z-index: 8;
}

.filters-main-title {
    margin-bottom: 20px;
}

.filters-reset {
    display: flex;
    align-self: center;
    color: var(--regGtey);
    font-weight: 700;
    padding: 4px 0;
    transition: transform .3s ease-in-out;
    cursor: pointer;
}

.filters-reset:hover {
    color: var(--mainRed);
    text-decoration: none;
}

.filters-reset:focus {
    color: var(--regGtey);
    text-decoration: none;
}

.filters-reset:hover .filters-reset-svg {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    transition: transform .3s ease-in-out;
}

.filters-reset__name {
    padding-top: 2px;
    margin-left: 15px;
}

.filters-content {
    background-color: #fff;
    padding: 15px;
}

.filter-item {
    margin-bottom: 15px;
}

.filter-item-title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 7px;
    padding-bottom: 7px;
}

.filter-item-title__br {
    border-bottom: 1px solid var(--lightGrey);
}

.filter-item-name{
    float: left;
}

.filter-item__curr-select {
    display: inline-block;
    float: right;
    font-weight: 500;
}

.filter-curr:hover {
    cursor: pointer;
}

.filter-checkbox:checked + .filter-curr {
    color: var(--mainRed);
}

.filter-item--variant {
    font-weight: 500;
    /*display: inline-block;*/
    color: var(--regGtey);
    padding: 5px 10px;
    /*margin-bottom: 5px;*/
    border: 1px solid var(--regGtey);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.filter-item--variant:hover {
    cursor: pointer;
}

/*.filter-item--variant:hover,*/
/*.filter-item--variant:visited,*/
/*.filter-item--variant:focus{*/
    /*color: var(--mainRed);*/
    /*border: 1px solid var(--mainRed);*/
    /*text-decoration: none;*/
/*}*/

.filter-item--variant:checked {
    color: var(--mainRed);
    border: 1px solid var(--mainRed);
}

.filter-checkbox {
    display: none;
}

.filter-checkbox:checked + .filter-item--variant{
    color: var(--mainRed);
    border: 1px solid var(--mainRed);
}

.filter-checkbox:checked + .filter-item__all {
    color: var(--mainRed);
}

.filter-item__all {
    float: right;
    border: none;
    color: #000;
    text-transform: none;
}

.filter-item__all:hover {
    color: var(--mainRed);
    cursor: pointer;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple{
    border: 1px solid var(--lightGrey);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: var(--mainRed);
    color: #fff;
    border: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover{
    float: right;
    color: #fff;
}

.select2-dropdown {
    border-color: var(--lightGrey);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: var(--lightBlue);
    color: #000;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: var(--lightGrey);
}

/*slider range custom*/


.filter-input-wrapper span {
    color: var(--regGtey);
    font-size: 1.5em;
}

.filter-input {
    width: 46%;
    text-align: center;
    color: var(--mainRed);
    padding: 4px;
    font-weight: 300;
    border: 1px solid var(--lightGrey);
}

.filter-input-full {
    width: 100%;
    text-align: left;
    font-weight: 500;
    padding: 4px 10px;
}

.filter-input-half {
    text-align: left;
    padding: 4px 10px;
}

.filter-input-engine {
    display: flex;
    justify-content: space-between;
}

.irs-line,
.irs-bar{
    height: 3px;
    top: 31px;
    background-color: var(--regGtey);
}

.irs-bar {
    background-color: var(--mainRed);
}

.irs-slider {
    background-color: var(--mainRed);
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    -webkit-box-shadow: 0px 0px 1px 0px #0000006b;
    -moz-box-shadow: 0px 0px 1px 0px #0000006b;
    box-shadow: 0px 0px 1px 0px #0000006b;
}

.irs-slider:hover {
    cursor: pointer;
}
  /*******/
 /*popup*/
/*******/

.mfp-bg {
    background-color: #f3f3f8;
}

.popup-content {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12);
}

.popup-modal-dismiss {
    float: right;
    margin: 13px;
    height: 24px;
}

.popup-modal-dismiss svg {
    color: var(--regGtey);
}

.popup-modal-dismiss:hover > svg {
    color: var(--mainRed);
}

.popup-header {
    border-bottom: 1px solid var(--lightGrey);
}

.popup-tab {
    float: left;
    padding: 15px;
    display: flex;
    align-items: center;
}

.popup-tab.active {
    color: var(--mainRed);
}

.popup-tab.active .popup-tab-num {
    background-color: var(--mainRed);
}

.popup-tab div {
    display: inline-block;
}

.popup-tab-num {
    background-color: var(--regGtey);
    color: #fff;
    height: 17px;
    width: 17px;
    margin-right: 10px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    vertical-align: bottom;
    line-height: 1.2;
}

.popup-content {
    width: 500px;
    background-color: #fff;
    margin: 0 auto;
}

.popup-tab-content {
    text-align: center;
    padding: 50px 60px;
}

.popup-title {
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
}

.popup-subtitle {
    font-weight: 300;
    text-align: center;
}

.popoup-phone {
    font-weight: 700;
    color: #000;
    padding: 0;
    margin: 0 auto;
    width: 17.5ch;
    height: 50px;
    background:
            repeating-linear-gradient(90deg,
            var(--mainRed) 0,
            var(--mainRed) 1ch,
            transparent 0,
            transparent 1.5ch)
            0 100%/100% 3px no-repeat;
    font: 2ch consolas, monospace;
    letter-spacing: .5ch;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.popoup-phone:focus {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.popoup-phone-confirm {
    width: 6ch;
}

.btn-popup {
    width: 235px;
    margin-top: 40px;
    padding: 10px;
    border-radius: 20px;
}

.popup-tab-content:last-child {
    display: none;
}

.profile-set-wrapper {
    padding: 50px;
}

.profile-set-wrapper .popup-title {
    margin-bottom: 20px;
}

.profile-set-img {
    width: 30%;
    float: left;
    text-align: center;
    color: var(--mainRed);
    position: relative;
}

.profile-set-img.with-img {
    display: flex;
    justify-content: center;
}

.profile-set-img.with-img > .profile-set-img-add {
    width: 108px;
    height: 108px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.profile-set-img svg {
    height: 108px;
    width: 108px;
    fill: var(--mainRed);
    border: 0.5px dashed var(--mainRed);
    border-radius: 50%;
}


.profile-set-img a:hover {
    text-decoration: none;
}

.profile-set-img-add {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.profile-set-img-add .dz-preview{
    width: 108px;
    height: 108px;
    margin: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.profile-set {
    display: inline-block;
    width: 65%;
    float: right;
}

.profile-set__title {
    text-transform: uppercase;
}

.prof-set {
    font-size: 12px;
    font-weight: 300;
    margin: 10px 0;
    width: 100%;
}

.prof-set input {
    width: 100%;
    padding-bottom: 5px;
    border: none;
    border-bottom: 1px solid var(--regGtey);
}

.select2-container--default .select2-selection--single {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid var(--regGtey);
}

.select2-dropdown {
    font-size: 12px;
}

.select2-container {
    width: 100% !important;
}

.popup-btn-wrapper {
    text-align: center;
}

.rate-confirm {
    text-align: center;
    margin: 20px 0;
}

.rate-confirm .sidebar-price-value {
    max-width: 200px;
    display: inline-block;
}

.remove-car-popup {
    width: 450px;
}

.remove-svg {
    text-align: center;
    margin: 10px 0;
}

.remove-svg svg {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid var(--lightGrey);
    padding: 20px;
    color: var(--mainRed);
}

.remove-car-wrapper .popup-btn-wrapper {
    margin-top: 30px;
}

.timer {
    font-size: 1.4em;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer-item {
    background-color: var(--mainRed);
    color: #fff;
    width: 46px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.timer-separator {
    display: flex;
    align-items: center;
    color: var(--mainRed);
    justify-content: center;
    font-size: 1.4em;
}


  /***************/
 /*open car page*/
/***************/
.page-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.page-control-link {
    color: var(--regGtey);
    margin-left: 20px;
}

.page-control-link:hover {
    color: var(--mainRed);
    text-decoration: none;
}

.page-control__nav {
    display: flex;
    align-items: center;
    margin-left: 0;
}

.page-control__nav--value {
    margin-left: 15px;
}

.open-car {
    background-color: #fff;
    padding: 20px
}

.open-car-title {
    text-align: center;
    margin-bottom: 10px;
}

.open-car-title__name {
    font-size: 1.8em;
    font-weight: 700;
}

.open-car-title__sub {
    color: var(--regGtey);
}

.open-car-title__sub i {
    font-size: 0.9em;
}

.open-car-title__sub div {
    display: inline-block;
}

.open-car-title__sub div:last-child {
    margin-left: 20px;
}


/*gallery slider*/


.open-car-slider {
    position: relative;
    padding-bottom: 15px;
}

.open-car-slider-for {
    margin-bottom: 10px;
}

.open-car-show-item {
    height: 470px;
}

.open-car-show-item img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.open-car-slider-nav {
    display: flex;
    align-items: center;
}

.open-car-nav-item {
    flex-grow: 1;
    margin-right: 8px;
    height: 100px;
}

.open-car-nav-item img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.open-car-slider-control {
    position: absolute;
    height: 20px;
    width: 100%;
    z-index: 10;
    top: 37%;
}

.open-car-slider-control__left {
    background: url("../assets/images/chevron-left.svg") center no-repeat;
    height: inherit;
    width: 12px;
    float: left;
    padding: 20px;
}

.open-car-slider-control__left:hover,
.open-car-slider-control__right:hover {
    opacity: 0.5;
    cursor: pointer;
}

.open-car-slider-control__right {
    background: url("../assets/images/chevron-right.svg") center no-repeat;
    height: 20px;
    width: 12px;
    float: right;
    padding: 20px;
}

.open-car-param-list {
    padding: 15px 0;
    border-top: 1px solid var(--lightGrey);
    border-bottom: 1px solid var(--lightGrey);
    font-weight: 700;
}
.car-param-item:nth-child(2n+1) {
    background-color: #f9f9fc;
}

.car-param-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
}

.car-param--name {
    color: var(--regGtey);
}

.car-param--value {
    display: inline-block;
}

.open-car-description {
    font-weight: 500;
    padding-top: 15px;
}

.btn__more {
    text-align: center;
    margin: 30px 0;
}

/*sidebar */

.sidebar-block {
    background-color: #fff;
    padding: 20px;
}

.seller-bio {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.seller-img {
    width: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.seller-img img {
    width: 100%;
    height: 50px;
}

.seller-description {
    width: 70%;
}

.seller-name {
    font-size: 1.1em;
    font-weight: 700;
}

.seller-status {
    font-size: 0.8em;
    color: var(--regGtey);
    margin-top: 2px;
}

.seller-info {
    display: flex;
    align-items: center;
    padding: 15px 0;
    color: var(--mainRed);
}

.seller-info:nth-child(2) {
    border-top: 1px solid var(--lightGrey);
}

.seller-info:hover {
    cursor: pointer;
}

.seller-contact {
    border-bottom: 2px dashed var(--mainRed);
    margin-top: -5px;
}

.sidebar-seller-svg {
    padding: 0 18px;
    margin-right: 5px;
}

.sidebar-seller-svg svg g {
    fill: var(--mainRed);
}

.sidebar-price {
    margin-top: 15px;
    display: inline-block;
    width: 100%;
}

.sidebar-price-title {
    display: flex;
    border-bottom: 1px solid var(--lightGrey);
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 5px;
}

.sidebar-price__curr {
    color: var(--regGtey);
    margin-left: 5px;
}

.sidebar-price-value {
    border: 1px solid var(--lightGrey);
    border-radius: 25px;
    text-align: center;
    padding: 8px 10px;
    font-weight: 800;
    color: var(--mainRed);
    font-size: 1.4em;
    margin: 20px 0;
    position: relative;
}

.sidebar-price-btn {
    text-align: center;
}

.sidebar-price-btn button {
    width: 100%;
}

.sidebar-price-btn__remove .btn-round {
    padding: 10px 0;
    width: 100%;
}

.bet-story {
    margin-top: 20px;
}

  /******************/
 /*open car ouction*/
/******************/

.price-control {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: var(--regGtey);
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    user-select:none;
}

.price-control:hover {
    background-color: var(--mainRed);
    cursor: pointer;
}

.incr-price {
    right: 10px;
}

.decr-price {
    left: 10px;
}

.bet-list {
    margin-top: 20px;
}

.bet-item {
    display: flex;
    padding: 10px 17px;
}

.bet-item:nth-child(2n+1) {
    background-color: #f9f9fc;
}

.bet-item-svg {
    height: 20px;
    width: 20px;
}

.bet-item-svg svg {
    fill: var(--mainRed)
}

.bet-item-description {
    margin-left: 20px;
}

.bet-item-price {
    color: var(--mainRed);
    font-size: 1.1em;
}

.bet-item-time {
    color: var(--regGtey);
    font-size: 0.9em
}

  /*******************/
 /*auction list page*/
/*******************/

.auction-item-price-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auction-item-price-block .auction-item-price {
    display: flex;
}

.auction-item-price-svg {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.auction-item-price-svg svg {
    fill: var(--mainRed);
}

.auction-item-price-block .auction-item-price-value {
    margin-top: -4px;
}

.auction-price {
    width: 100%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: none;
    text-align: center;
}

  /*************/
 /*advert page*/
/*************/

.advert-type-select {
    display: flex;
}

.advert-btn {
    padding: 12px 19px;
    background-color: transparent;
    color: var(--regGtey);
    border: 1px solid var(--lightGrey);
}

.advert-btn:first-child,
.advert-btn__auction {
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    margin-right: -0.5px;
}

.advert-btn:last-child,
.advert-btn__sell{
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    margin-left: -0.5px;
}


.advert-btn--noR {
    border-radius: 0;
    border-right: none;
    border-left: none;
}

.advert-btn:hover {
    color: var(--regGtey);
}

.advert-btn:active{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: var(--mainRed);
    color: #fff;
}

.advert-btn:focus {
    color: var(--regGtey);
    background-color: transparent;
}

.advert-btn.active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: var(--mainRed);
    color: #fff;
}

.advert-tab {
    display: none;
}

.advert-tab:checked+.advert-btn  {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: var(--mainRed);
    color: #fff;
}

.sidebar-seller__owner .seller-bio {
    flex-direction: column;
}

.sidebar-seller__owner .seller-img {
    border: 1px solid var(--lightGrey);
    padding: 15px;
    height: 82px;
    width: 82px;
    margin-right: 0;
}
.sidebar-seller__owner .seller-img img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.sidebar-seller__owner .seller-name {
    font-size: 1.3em;
    margin-top: 20px;
}

.sidebar-seller__owner .seller-phone {
    border-bottom: none;
}

.sidebar-seller__owner .seller-description {
    width: 100%;
    text-align: center;
}

.seller-phone.seller-phone__show{
    border-bottom: none;
    font-size: 1.1em;
    display: none;
}

.advert-content {
    background-color: #fff;
    padding: 15px;
}

.advert-opt {
    margin-bottom: 25px;
    width: 50%;
    display: inline-block;
    float: left;
    font-weight: 100;
    font-size: 0.9em;
}

.advert-opt__long {
    width: 100%;
}

.advert-opt-name {
    font-size: 1.1em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
}

.advert-counter-value {
    color: var(--regGtey);
    display: inline-block;
    margin-left: 4px;
    font-size: 1.1em;
}

.advert-counter-value:before {
    content: '(';
}
.advert-counter-value:after {
    content: ')';
}

.advert-opt-list-item {
    display: inline-block;
    padding: 4px 10px;
    margin-right: 7px;
    border: 1px solid var(--lightGrey);
    color: var(--regGtey);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: 700;
}

.advert-opt-list-item:hover {
    color: var(--mainRed);
    border-color: var(--mainRed);
    cursor: pointer;
}

.advert-opt-select {
    width: 90%;
}

.advert-opt-input {
    width: 90%;
    height: 28px;
    padding-bottom: 6px;
    border: none;
    border-bottom: 1px solid var(--regGtey);
}

.advert-opt-input__long {
    display: block;
}

.advert-opt-list .advert-opt-input {
    width: 50%;
    margin-right: 20px;
}

.advert-opt-list__curr .advert-opt-list-item {
    margin-bottom: 0;
}

.advert-radio {
    display: none;
}

.advert-radio:checked + .advert-opt-list-item {
    color: var(--mainRed);
    border-color: var(--mainRed);
}

/*dropzone*/

.dropzone {
    min-height: 163px;
    background-color: transparent;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px dashed var(--mainRed);
    margin-bottom: 5px;
}

.dropzone:hover {
    cursor: cell;
}

.dropzone-icon {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--mainRed);
}

.dropzone-icon svg {
    height: 27px;
    width: 27px;
}

.dz-image {
    height: 100%;
}

.dz-image img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.dz-preview {
    display: inline-block;
    float: left;
    width: 17.5%;
    position: relative;
    z-index: 1;
    margin: 10px;
}

.dz-message,
.dz-success-mark,
.dz-error-mark,
.dz-details,
.dz-error-message{
    display: none;
}

.upload-space {
    min-height: 140px;
    position: relative;
    margin: 10px;
    width: 100%;
}

.dz-remove {
    display: none;
    color: var(--regGtey);
    padding: 10px;
    background: url("../assets/images/x-white-01.svg") center no-repeat;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid var(--mainRed);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: var(--mainRed);
}

.dz-remove:hover {
    color: var(--mainRed);
    text-decoration: none;
}

.dz-preview:hover .dz-remove {
    display: block;
}

  /***************/
 /*requests page*/
/***************/

.page-title-centred {
    width: 100%;
    text-align: center;
}

.btn-change-req,
.btn-change-req:hover,
.btn-change-req:focus {
    padding: 10px 0px;
    width: 100%;
    background-color: var(--regGtey);
    text-transform: uppercase;
    color: #fff;
    margin: 5px 0;
}

.btn-change-req:active {
    background-color: var(--mainRedDark);
}

.requests-page-content {
    border: 1px solid #fff;
    min-height: 406px;
    max-height: 715px;
    overflow-y: scroll;
    padding: 20px;
    margin-bottom: 45px;
}

.requests-block-title {
    color: var(--regGtey);
    text-align: center;
    margin-bottom: 20px;
}

.request-item {
    display: flex;
    margin-bottom: 20px;
}

.request-content {
    background-color: #fff;
    padding: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    margin: 0 18px;
    display: flex;
    width: 70%;
    text-decoration: none;
    color: inherit;
}

.request-content:hover {
    text-decoration: none;
    color: inherit;
}

.request-img {
    width: 38%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 18px;
    height: 100%;
    position: relative;
}

.request-img img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.request-author {
    height: 50px;
    width: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-self: flex-end;
}

.request-author img {
    width: 100%;
}

.request-text {
    flex-grow: 1;
}

.request-name {
    font-size: 1.2em;
    font-weight: 700;
}

.request-description {
    font-size: 0.9em;
}

.request-description div:nth-child(2n+1) {
    background-color: #f9f9fc;
    padding: 6px 9px;
}

.request-description div {
    padding: 7px 9px;
}

.requests-sidebar--title {
    display: flex;
    align-items: center;
}

.search-request {
    display: flex;
}

.add-request svg,
.search-request svg{
    cursor: pointer;
}

.search-request-svg {
    cursor: pointer;
}

.num-request {
    flex-grow: 1;
    display: flex;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
    background-color: var(--mainRed);
    color: #fff;
    margin: 0 20px;
    padding: 5px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.requests-sidebar--title svg {
    color: var(--regGtey);
}

.num-request__value {
    margin-left: 5px;
    background: #ffffff6b;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    text-align: center;
    padding: 2px 5px;
}

.requests-sidebar--content {
    background-color: #fff;
    padding: 18px;
    margin-top: 18px;
    margin-bottom: 30px;
    position: relative;
}

.request-answer {
    display: flex;
    padding-bottom: 15px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--regGtey);
    cursor: pointer;
}

.request-answer.current {
    border-bottom: 2px solid var(--mainRed);
    margin-bottom: 15px;
}

.request-answer.unread {
    color: var(--mainRed);
}

.request-answer:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

.request-answer--img {
    width: 50px;
    height: 50px;
    border: 1px solid var(--regGtey);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.request-answer--img img {
    width: 30px;
    height: 37px;
}

.request-answer--text {
    width: 73%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.request-answer--text__name {
    font-size: 15px;
    font-weight: 600;
    width: 80%;
}

.request-answer--text__val {
    width: 15%;
    text-align: center;
    color: #fff;
    background-color: var(--mainRed);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.request-date-separator {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date-separator {
    height: 1px;
    background-color: var(--regGtey);
    width: 42%;
}

.request-date-separator--date {
    font-size: 13px;
    font-weight: 600;
    color: var(--regGtey)
}

.requests-search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.2);
    display: none;
}

.requests-search-field {
    width: 100%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #e9e9e9;
    padding: 6px 14px;
    font-size: 13px;
}

.requests-search-icon {
    position: absolute;
    top: 50%;
    right: -7px;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: var(--mainRed);
    color: #fff;
    height: 57%;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.close-search-request {
    display: none;
}

.page-title__flexed {
    width: 100%;
    display: flex;
}

.page-title-left {
    width: 100%;
    text-align: center;
}

.request-control {
    display: flex;
}

.request-control div:last-child{
    margin-left: 10px;
}

.request-top-svg {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.request-top-svg svg {
    height: inherit;
    width: inherit;
    color: var(--regGtey);
    cursor: pointer;
}

  /***************/
 /*my cars pages*/
/***************/

.my-rate-block {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    background-color: var(--lightBlue);
}

.my-rate-img svg {
    height: 40px;
    width: 40px;
    margin: -5px 10px -10px 0;
    border: 1px solid var(--lightGrey);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    fill: var(--regGtey);
}

.my-rate-text {
    flex-grow: 1;
}

.my-rate-text__title {
    color: #000;
}

.my-rate-text__time {
    color: var(--regGtey);
}

.my-rate-price .auction-item-price {
    display: flex;
    font-size: 1.2em;
    padding: 0;
    color: var(--regGtey);
}

.my-rate-price .auction-item-price .auction-item-price-svg {
    margin-right: 5px;
}

.my-rate-block .my-rate-price .auction-item-price .auction-item-price-svg svg{
    fill: var(--regGtey);
}

.my-rate-block.active .my-rate-price .auction-item-price {
    color: var(--mainRed);
}

.my-rate-block.active .my-rate-price .auction-item-price .auction-item-price-svg svg {
    fill: var(--mainRed);
}

.bet-byers-list .bet-item{
    flex-direction: column;
}

.bet-byers-list .seller-name {
    font-size: 1em;
}

.bet-item-info {
    width: 100%;
    display: flex;
}

.bet-byers-list .seller-bio {
    padding-bottom: 5px;
}

.bet-byers-list .seller-img {
    margin: 0;
}

.bet-byers-list .seller-description{
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    margin-left: 10px;
}

.bet-byers-list .bet-item-svg {
    width: 54px;
    text-align: center;
}

.bet-byers-list .bet-item-svg svg {
    width: 20px;
}

.bet-byers-list .bet-item-description {
    margin-left: 10px;
}

.auction-item-like-svg svg:hover {
    animation: hurtDance 1s infinite;
}

@keyframes hurtDance {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-10deg) scale(1.1);
    }

    50% {
        transform: rotate(0deg) scale(1);
    }

    75% {
        transform: rotate(10deg) scale(1.1);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes hurtDisappear {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
        transform: scale(1.4);
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

/*loader*/

.loader {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 80%;
    transform: translate(-50%,-50%);
    background-color: inherit;
}

.isLoading {
    position: relative;
}


@-webkit-keyframes line-pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    45% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.75;
    }
    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes line-pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.75;
    }
    99% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.line-pulse > div:nth-child(0) {
    -moz-animation: line-pulse 0.75s 0s infinite;
    -ms-animation: line-pulse 0.75s 0s infinite;
    -webkit-animation: line-pulse 0.75s 0s infinite;
    -o-animation: line-pulse 0.75s 0s infinite;
    animation: line-pulse 0.75s 0s infinite;
}

.line-pulse > div:nth-child(1) {
    -moz-animation: line-pulse 0.75s 0.1s infinite;
    -ms-animation: line-pulse 0.75s 0.1s infinite;
    -o-animation: line-pulse 0.75s 0.1s infinite;
    -webkit-animation: line-pulse 0.75s 0.1s infinite;
    animation: line-pulse 0.75s 0.1s infinite;
}

.line-pulse > div:nth-child(2) {
    -moz-animation: line-pulse 0.75s 0.2s infinite;
    -ms-animation: line-pulse 0.75s 0.2s infinite;
    -o-animation: line-pulse 0.75s 0.2s infinite;
    -webkit-animation: line-pulse 0.75s 0.2s infinite;
    animation: line-pulse 0.75s 0.2s infinite;
}
.line-pulse > div:nth-child(3) {
    -moz-animation: line-pulse 0.75s 0.3s infinite;
    -ms-animation: line-pulse 0.75s 0.3s infinite;
    -o-animation: line-pulse 0.75s 0.3s infinite;
    -webkit-animation: line-pulse 0.75s 0.3s infinite;
    animation: line-pulse 0.75s 0.3s infinite;
}
.line-pulse > div:nth-child(4) {
    -moz-animation: line-pulse 0.75s 0.4s infinite;
    -ms-animation: line-pulse 0.75s 0.4s infinite;
    -o-animation: line-pulse 0.75s 0.4s infinite;
    -webkit-animation: line-pulse 0.75s 0.4s infinite;
    animation: line-pulse 0.75s 0.4s infinite;
}

.line-pulse > div {
    background-color: #fff;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    margin: 0 2px;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
}

.request-popup-content {
    background-color: #fff;
    padding: 18px;
    width: 70%;
    margin: 0 auto;
}

.request-popup-content .popup-modal-dismiss {
    margin: 0;
}

.request-popup-btn-wrapper {
    text-align: center;
}

.request-popup-btn-wrapper .btn-reset {
    margin-right: 30px;
    background-color: var(--regGtey) !important;
}

.request-popup-btn-wrapper {
    margin-bottom: 25px;
}
