
html {

    /*color variables*/

    --mainRed: #fa410f;
    --mainRedDark: #df3a0d;
    --regGtey: #a4a8b6;
    --lightGrey: #e9e9e9;
    --lightBlue: #f3f3f8;
}

body {
    font-family: SFUI-Text,Arial,sans-serif;
    font-size: 14px;
    background-color: var(--lightBlue);
}

* {
    outline: none !important;
}
/*navigation*/

.container-fluid {
    padding: 0;
}

.navbar {
    font-weight: 700;
    border: none;
    -webkit-box-shadow: 0 3px 33px 0 rgba(158, 158, 158, 0.08);
    -moz-box-shadow: 0 3px 33px 0 rgba(158, 158, 158, 0.08);
    box-shadow: 0 3px 33px 0 rgba(158, 158, 158, 0.08);
    min-height: 140px;
    background-color: #fff;
}

.navbar .container-fluid .navbar-brand  {
    width: 208px;
    height: auto;
    padding: 0;
    margin-left: 0;
}

.navbar-toggle .icon-bar{
    background-color: var(--mainRed);
}

.navbar-layer-one {
    border-bottom: 1px solid var(--lightGrey);
}

.br-left {
    border-left: 1px solid var(--lightGrey);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.br-right {
    border-right: 1px solid var(--lightGrey);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
}

.dropdown-menu {
    min-width: auto;
}

.dropdown-menu>li>a {
    padding: 6px 14px;
}

.link-grey,
.link-grey a {
    color: var(--regGtey);
}

.link-black a{
    color: #000;
}

.navbar .active,
.navbar .active:visited {
    color: var(--mainRed);
}

.navbar-nav li a:hover {
    color: var(--mainRed)
}

.btn-accent,
.btn-accent:hover,
.btn-accent:visited{
    background-color: var(--mainRed)!important;
    color: #fff !important;
    text-transform: uppercase;
}

.btn-accent:active {
    background-color: var(--mainRedDark) !important;
}

.btn-round {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 10px 45px;
}

.lang-select a {
    display: inline-block;
    padding: 15px 4px;
}

.lang-select a:first-child {
    padding-left: 15px;
}

.lang-select a:last-child {
    padding-right: 15px;
}

.curr-select a {
    display: inline-block;
    padding: 15px 2px;
}

.curr-select a:first-child {
    padding-left: 15px;
}

.curr-select a:last-child {
    padding-right: 15px;
}

.lang-select a:hover,
.lang-select a:focus,
.curr-select a:hover,
.curr-select a:focus{
    text-decoration: none;
    color: var(--mainRed);
}

.lang-select a:visited,
.curr-select a:visited {
    color: var(--regGtey);
}

.dropdown-menu>li>a:hover {
    color: var(--mainRed);
    background-color: transparent;
}


.layer-two-container {
    display: flex;
    align-items: center;
}

.navbar-grow {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.input-search .form-control {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.input-search .dropdown-toggle {
    background-color: transparent;
}

.input-search .btn-search {
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    background-color: var(--regGtey);
    color: #fff;
    text-transform: uppercase;
    outline: none !important;
}

.input-search .btn-search:hover {
    background-color: var(--mainRed);
}

.input-search .btn-search:active {
    background-color: var(--mainRedDark);
}

.header-icon {
    text-align: center;
}

.header-icon svg {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.link-grey a:hover > .header-icon svg g{
    fill: var(--mainRed);
    height: 80px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    color: var(--mainRed);
}

.dropdown-menu {
    border: none;
}

.dropdown-menu .divider {
    display: none;
}

.dropdown-menu  li a:hover {
    background: var(--lightGrey);
    color: inherit;
}

.dropdown-search-toggle {
    color: var(--regGtey);
    /*height: 32px;*/
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: none;
    margin-left: -34px !important;
    position: relative;
    z-index: 99;
    background-color: #fff !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.dropdown-search-toggle:hover,
.dropdown-search-toggle:active,
.dropdown-search-toggle:focus {
    color: var(--regGtey);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.header-search {
    width: 350px !important;
}


/*footer*/

.footer {
    border-top: 1px solid var(--lightGrey);
}

.footer-model {
    display: block;
    padding: 2px 10px;
    margin: 5px 0;
}

.footer-model:nth-child(2n) {
    background-color: #f9f9fc;
}

.footer-model__name {
    display: inline-block;
    float: left;
    color: #000;
}

.footer-model__value {
    display: inline-block;
    float: right;
    color: var(--regGtey);
}

.footer-white {
    margin-top: 60px;
    background-color: #fff;
    height: 80px;
}

.footer-copyright {
    color: var(--regGtey);
    text-transform: uppercase;
    height: 80px;
    display: flex;
    align-items: center;
}

.footer-logo {
    width: 50px;
    height: 80px;
    margin: 0 auto;
    display: flex;
}

.footer-logo img {
    width: 100%;
}

.footer-share {
    float: right;
    font-size: 1.4em;
    height: 80px;
    display: flex;
    align-items: center;
}

.footer-share a {
    color: var(--regGtey);
    padding: 5px;
}

.footer-share a:hover {
    color: var(--mainRed);
}

.footer-share__facebook {
    margin-right: 15px;
}

  /*********/
 /*auction*/
/*********/

.page-title-wrapper {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-title {
    font-size: 1.8em;
    font-weight: 700;
}

.page-title__name {
    display: inline;
}

.page-title__value {
    display: inline;
    color: var(--regGtey);
}

.page-show-filter {
    display: flex;
}

.page-show-filter .select2-container--default .select2-selection--single {
    background:transparent;
    border: none;
}

.page-show-filter .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--regGtey);
}

.page-show-filter .select2-container {
    width: auto !important;
}

.page-show-filter-svg {
    color: var(--regGtey);
    display: inline-block;
    margin-top: 2px;
}


.page-show-select {
    background-color: transparent;
    border: none;
    color: var(--regGtey);
}

.auction-item {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
}

.auction-item-img {
    width: 30%;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    overflow: hidden;
}

.auction-item-img img {
    width: 100%;
}

.auction-item-text {
    width: 70%;
    margin-left: 20px;
}

.auction-item-title {
    font-size: 1.4em;
    font-weight: 700;
}

.auction-item-subtitle {
    color: var(--regGtey);
    display: inline-block;
    margin-right: 20px;
    font-size: 0.9em;
}

.auction-item-car-info-wrapper {
    display: flex;
    margin: 7px 0;
}

.auction-item-car-info {
    font-weight: 700;
    background-color: var(--lightBlue);
    padding: 7px;
    margin-right: 5px;
    flex-grow: 1;
    display: flex;
}

.car-info-svg {
    display: inline-block;
    height: 20px;
    margin-right: 5px;
}

.car-info-svg svg {
    height: inherit;
    fill: var(--regGtey);
}

.auction-item-can-info__range .car-info-svg {
    height: 17px;
}

.auction-item-descr {
    color: var(--regGtey);
    font-size: 0.9em;
    font-weight: 300;
    margin-top: 10px;
    padding-bottom: 7px;
    border-bottom: 1px solid var(--lightGrey);
    height:  43px;
    overflow: hidden;
}

.auction-item-price {
    display: inline-block;
    align-self: center;
    font-size: 1.4em;
    font-weight: 700;
    color: var(--mainRed);
    padding-top: 7px;
}

.auction-item-like-svg {
    display: flex;
    float: right;
    height: 35px;
    align-items: center;
}

.auction-item-like-svg svg:hover {
    color: var(--mainRed);
}

  /*********/
 /*filters*/
/*********/

.filters-main-title {
    margin-bottom: 20px;
}

.filters-reset {
    display: flex;
    align-self: center;
    color: var(--regGtey);
    font-weight: 700;
    padding: 4px 0;
    transition: transform .3s ease-in-out;
}

.filters-reset:hover {
    color: var(--mainRed);
    text-decoration: none;
}

.filters-reset:focus {
    color: var(--regGtey);
    text-decoration: none;
}

.filters-reset:hover .filters-reset-svg {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    transition: transform .3s ease-in-out;
}

.filters-reset__name {
    padding-top: 2px;
    margin-left: 15px;
}

.filters-content {
    background-color: #fff;
    padding: 15px;
}

.filter-item {
    margin-bottom: 15px;
}

.filter-item-title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 7px;
    padding-bottom: 7px;
}

.filter-item-title__br {
    border-bottom: 1px solid var(--lightGrey);
}

.filter-item-name{
    float: left;
}

.filter-item__curr-select {
    display: inline-block;
    float: right;
}

.filter-item__curr-select a {
    color: #000;
    text-decoration: none;
}

.filter-item__curr-select a:hover {
    color: var(--mainRed);
}

.filter-item--variant {
    display: inline-block;
    color: var(--regGtey);
    padding: 5px 10px;
    margin-bottom: 5px;
    border: 1px solid var(--regGtey);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.filter-item--variant:hover,
.filter-item--variant:visited,
.filter-item--variant:focus{
    color: var(--mainRed);
    border: 1px solid var(--mainRed);
    text-decoration: none;
}

.filter-item__any {
    display: inline-block;
    float: right;
    border: none;
    color: #000;
    text-transform: none;
}

.filter-item__any:hover {
    color: var(--mainRed);
    border: none;
    text-decoration: none;
}
.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple{
    border: 1px solid var(--lightGrey);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: var(--mainRed);
    color: #fff;
    border: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover{
    float: right;
    color: #fff;
}

.select2-dropdown {
    border-color: var(--lightGrey);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: var(--lightBlue);
    color: #000;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: var(--lightGrey);
}

/*slider range custom*/

.ui-slider-horizontal {
    height: 3px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -6px;
}

.ui-widget.ui-widget-content {
    background-color: #b2b7c6;
    border: none;
    margin: 15px 0;
}

.ui-widget-header {
    background-color: var(--mainRed);
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background-color: var(--mainRed);
    box-shadow: 0 0 0 2px rgba(234, 222, 222, 0.37);
    border: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background-color: var(--mainRed);
    box-shadow: 0 0 0 2px rgba(234, 222, 222, 0.37);
}

.ui-slider .ui-slider-handle {
    height: 15px;
    width: 15px;
}

.filter-input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-input-wrapper span {
    color: var(--regGtey);
    font-size: 1.5em;
}

.filter-input {
    width: 40%;
    text-align: center;
    color: var(--mainRed);
    padding: 4px;
    font-weight: 300;
    border: 1px solid var(--lightGrey);
}
  /*******/
 /*popup*/
/*******/

.mfp-bg {
    background-color: #f3f3f8;
}

.popup-content {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12);
}

.popup-modal-dismiss {
    float: right;
    margin: 13px;
    height: 24px;
}

.popup-modal-dismiss svg {
    color: var(--regGtey);
}

.popup-modal-dismiss:hover > svg {
    color: var(--mainRed);
}

.popup-header {
    border-bottom: 1px solid var(--lightGrey);
}

.popup-tab {
    float: left;
    padding: 15px;
    display: flex;
    align-items: center;
}

.popup-tab.active {
    color: var(--mainRed);
}

.popup-tab.active .popup-tab-num {
    background-color: var(--mainRed);
}

.popup-tab div {
    display: inline-block;
}

.popup-tab-num {
    background-color: var(--regGtey);
    color: #fff;
    height: 17px;
    width: 17px;
    margin-right: 10px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    vertical-align: bottom;
    line-height: 1.2;
}

.popup-content {
    width: 500px;
    background-color: #fff;
    margin: 0 auto;
}

.popup-tab-content {
    text-align: center;
    padding: 50px 60px;
}

.popup-title {
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
}

.popup-subtitle {
    font-weight: 300;
}

.popoup-phone {
    font-weight: 700;
    color: #000;
    padding: 0;
    margin: 0 auto;
    width: 17.5ch;
    height: 50px;
    background:
            repeating-linear-gradient(90deg,
            var(--mainRed) 0,
            var(--mainRed) 1ch,
            transparent 0,
            transparent 1.5ch)
            0 100%/100% 3px no-repeat;
    font: 2ch consolas, monospace;
    letter-spacing: .5ch;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.popoup-phone:focus {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.popoup-phone-confirm {
    width: 6ch;
}

.btn-popup {
    width: 235px;
    margin-top: 40px;
    padding: 10px;
    border-radius: 20px;
}

.popup-tab-content:last-child {
    display: none;
}

.profile-set-wrapper {
    padding: 50px;
}

.profile-set-wrapper .popup-title {
    margin-bottom: 20px;
}

.profile-set-img {
    width: 30%;
    float: left;
    text-align: center;
}

.profile-set-img svg {
    height: 108px;
    width: 108px;
    fill: var(--mainRed);
    border: 0.5px dashed var(--mainRed);
    border-radius: 50%;
}

.profile-set-img a {
    display: inline-block;
    color: var(--mainRed);
    margin-top: 10px;
}

.profile-set-img a:hover {
    text-decoration: none;
}

.profile-set {
    display: inline-block;
    width: 65%;
    float: right;
}

.profile-set__title {
    text-transform: uppercase;
}

.prof-set {
    font-size: 12px;
    font-weight: 300;
    margin: 10px 0;
    width: 100%;
}

.prof-set input {
    width: 100%;
    padding-bottom: 5px;
    border: none;
    border-bottom: 1px solid var(--regGtey);
}

.select2-container--default .select2-selection--single {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid var(--regGtey);
}

.select2-dropdown {
    font-size: 12px;
}

.select2-container {
    width: 100% !important;
}

.popup-btn-wrapper {
    text-align: center;
}

  /***************/
 /*open car page*/
/***************/
.page-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.page-control-link {
    color: var(--regGtey);
    margin-left: 20px;
}

.page-control-link:hover {
    color: var(--mainRed);
    text-decoration: none;
}

.page-control__nav {
    display: flex;
    align-items: center;
    margin-left: 0;
}

.page-control__nav--value {
    margin-left: 15px;
}

.open-car {
    background-color: #fff;
    padding: 20px
}

.open-car-title {
    text-align: center;
    margin-bottom: 10px;
}

.open-car-title__name {
    font-size: 1.8em;
    font-weight: 700;
}

.open-car-title--sub {
    color: var(--regGtey);
    margin: 0 5px;
}


/*gallery slider*/


.open-car-slider {
    position: relative;
    padding-bottom: 15px;
}

.open-car-slider-for {
    margin-bottom: 10px;
}

.open-car-show-item {
    height: 470px;
}

.open-car-show-item img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.open-car-slider-nav {
    display: flex;
    align-items: center;
}

.open-car-nav-item {
    flex-grow: 1;
    margin-right: 8px;
    height: 100px;
}

.open-car-nav-item img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.open-car-slider-control {
    position: absolute;
    height: 20px;
    width: 100%;
    z-index: 99;
    top: 37%;
}

.open-car-slider-control__left {
    background: url("../assets/images/chevron-left.svg") center no-repeat;
    height: inherit;
    width: 12px;
    float: left;
    padding: 20px;
}

.open-car-slider-control__left:hover,
.open-car-slider-control__right:hover {
    opacity: 0.5;
    cursor: pointer;
}

.open-car-slider-control__right {
    background: url("../assets/images/chevron-right.svg") center no-repeat;
    height: 20px;
    width: 12px;
    float: right;
    padding: 20px;
}

.open-car-param-list {
    padding: 15px 0;
    border-top: 1px solid var(--lightGrey);
    border-bottom: 1px solid var(--lightGrey);
    font-weight: 700;
}
.car-param-item:nth-child(2n+1) {
    background-color: #f9f9fc;
}

.car-param-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
}

.car-param--name {
    color: var(--regGtey);
}

.car-param--value {
    display: inline-block;
}

.open-car-description {
    font-weight: 500;
    padding-top: 15px;
}

.btn__more {
    text-align: center;
    margin: 30px 0;
}

/*sidebar */

.sidebar-block {
    background-color: #fff;
    padding: 20px;
}

.seller-bio {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.seller-img {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.seller-img img {
    width: 100%;
}

.seller-name {
    font-size: 1.1em;
    font-weight: 700;
}

.seller-status {
    font-size: 0.8em;
    color: var(--regGtey);
    margin-top: 2px;
}

.seller-info {
    display: flex;
    align-items: center;
    padding: 15px 0;
    color: var(--mainRed);
}

.seller-info:nth-child(2) {
    border-top: 1px solid var(--lightGrey);
}

.seller-info:hover {
    cursor: pointer;
}

.seller-contact {
    border-bottom: 2px dashed var(--mainRed);
    margin-top: -5px;
}

.sidebar-seller-svg {
    padding: 0 18px;
    margin-right: 5px;
}

.sidebar-seller-svg svg g {
    fill: var(--mainRed);
}

.sidebar-price {
    margin-top: 15px;
}

.sidebar-price-title {
    display: flex;
    border-bottom: 1px solid var(--lightGrey);
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 5px;
}

.sidebar-price__curr {
    color: var(--regGtey);
    margin-left: 5px;
}

.sidebar-price-value {
    border: 1px solid var(--lightGrey);
    border-radius: 25px;
    text-align: center;
    padding: 8px 10px;
    font-weight: 800;
    color: var(--mainRed);
    font-size: 1.4em;
    margin: 20px 0;
    position: relative;
}

.sidebar-price-btn {
    text-align: center;
}

.sidebar-price-btn button {
    width: 100%;
}

  /******************/
 /*open car ouction*/
/******************/

.price-control {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: var(--regGtey);
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    user-select:none;
}

.price-control:hover {
    background-color: var(--mainRed);
    cursor: pointer;
}

.incr-price {
    right: 10px;
}

.decr-price {
    left: 10px;
}

.bet-list {
    margin-top: 20px;
}

.bet-item {
    display: flex;
    align-items: center;
    padding: 10px 17px;
}

.bet-item:nth-child(2n+1) {
    background-color: #f9f9fc;
}

.bet-item-svg {
    height: 20px;
    width: 20px;
}

.bet-item-svg svg {
    fill: var(--mainRed)
}

.bet-item-description {
    margin-left: 20px;
}

.bet-item-price {
    color: var(--mainRed);
    font-size: 1.1em;
}

.bet-item-time {
    color: var(--regGtey);
    font-size: 0.9em
}

  /*******************/
 /*auction list page*/
/*******************/

.auction-item-price-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auction-item-price-block .auction-item-price {
    display: flex;
}

.auction-item-price-svg {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.auction-item-price-svg svg {
    fill: var(--mainRed);
}

.auction-item-price-block .auction-item-price-value {
    margin-top: -4px;
}

.auction-price {
    width: 100%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: none;
    text-align: center;
}

  /*************/
 /*advert page*/
/*************/

.advert-type-select {
    display: flex;
}

.advert-btn {
    padding: 12px 19px;
    background-color: transparent;
    color: var(--regGtey);
    border: 1px solid var(--lightGrey);
}

.advert-btn:first-child {
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    margin-right: -0.5px;
}

.advert-btn:last-child {
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    margin-left: -0.5px;
}

.advert-btn:hover {
    color: var(--regGtey);
}

.advert-btn:active,
.advert-btn:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: var(--mainRed);
    color: #fff;
}

.sidebar-seller__owner .seller-bio {
    flex-direction: column;
}

.sidebar-seller__owner .seller-img {
    border: 1px solid var(--lightGrey);
    padding: 15px;
    height: 82px;
    width: 82px;
    margin-right: 0;
}
.sidebar-seller__owner .seller-img img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.sidebar-seller__owner .seller-name {
    font-size: 1.3em;
    margin-top: 20px;
}

.sidebar-seller__owner .seller-phone {
    border-bottom: none;
}

.advert-content {
    background-color: #fff;
    padding: 15px;
}

.advert-opt {
    margin-bottom: 25px;
    width: 50%;
    display: inline-block;
    float: left;
    font-weight: 100;
    font-size: 0.9em;
}

.advert-opt__long {
    width: 100%;
}

.advert-opt-name {
    font-size: 1.1em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
}

.advert-counter-value {
    color: var(--regGtey);
    display: inline-block;
    margin-left: 4px;
    font-size: 1.1em;
}

.advert-counter-value:before {
    content: '(';
}
.advert-counter-value:after {
    content: ')';
}

.advert-opt-list-item {
    display: inline-block;
    padding: 4px 10px;
    margin-right: 7px;
    border: 1px solid var(--lightGrey);
    color: var(--regGtey);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: 700;
}

.advert-opt-list-item:hover {
    color: var(--mainRed);
    border-color: var(--mainRed);
    cursor: pointer;
}

.advert-opt-select {
    width: 90%;
}

.advert-opt-input {
    width: 90%;
    height: 28px;
    padding-bottom: 6px;
    border: none;
    border-bottom: 1px solid var(--regGtey);
}

/*dropzone*/

.dropzone {
    min-height: 160px;
    min-width: 135px;
    background-color: transparent;
    position: relative;
    z-index: 99;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px dashed var(--mainRed);
}

.dropzone:hover {
    cursor: cell;
}

.dropzone-icon {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--mainRed);
}

.dropzone-icon svg {
    height: 27px;
    width: 27px;
}

.dz-image {
    object-fit: cover;
}

.dz-image img {
    width: 100%;
}

.dz-preview {
    display: inline-block;
    float: left;
    width: 17.5%;
    position: relative;
    z-index: 1;
    margin: 10px;
}

.dz-message,
.dz-success-mark,
.dz-error-mark,
.dz-details,
.dz-error-message{
    display: none;
}

.upload-space {
    min-height: 140px;
    position: relative;
    margin: 10px;
}

.dz-remove {
    display: none;
    color: var(--regGtey);
    padding: 10px;
    background: url("../assets/images/x-white-01.svg") center no-repeat;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid var(--mainRed);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: var(--mainRed);
}

.dz-remove:hover {
    color: var(--mainRed);
    text-decoration: none;
}

.dz-preview:hover .dz-remove {
    display: block;
}

